<div class="container" style = "width: 800px">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                    <!-- <h6 class="card-title">{{}}</h6> -->

                    <div *ngIf="!data" class="spinner-border" role="status">
                    </div>
                      <!-- {{data | json}} -->

                    <ng-container *ngIf="data">
                        <div *ngFor="let row of data.slice().reverse()" id="content">

                       

                            <ul class="timeline">
                                <div class="dates"> {{row['from_date'] | date}} - {{row['to_date'] != '9999-01-01T08:00:00.000Z' ? (row['to_date'] | date) : 'Present'}}</div>
                                <li class="event" >
                                    <ng-container *ngIf="key=='salary'">
                                        <h3>{{row[key] | currency:'USD'}}</h3>
                                    </ng-container>
    
                                    <ng-container *ngIf="key!='salary'">
                                        <h3>{{row[key]}}</h3>
                                    </ng-container>
    
                                    <!-- <p>Get here on time, it's first come first serve. Be late, get turned away.</p> -->
                                </li>
                            </ul>
                        </div>

                    </ng-container>

                </div>
            </div>
        </div>
    <!-- </div> -->
  <!-- </div> -->