<h3 class="p-3 m-3" style="float: left;">Employees</h3>
<button type="button" class="btn btn-light m-3" style = "float: right; background-color: #534360 !important; color: white">Create New</button>
<table class="table table-striped p-3 m-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">DOB</th>
        <th scope="col">Department</th>
        <th scope="col">Date Hired</th>
        <th scope="col">Title</th>
        <th scope="col">Salary</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Male</td>
        <td>12/21/1999</td>
        <td>HR</td>
        <td>12/10/2020</td>
        <td>Software Engineer</td>
        <td>$10,000</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Male</td>
        <td>12/21/1999</td>
        <td>HR</td>
        <td>12/10/2020</td>
        <td>Software Engineer</td>
        <td>$10,000</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Male</td>
        <td>12/21/1999</td>
        <td>HR</td>
        <td>12/10/2020</td>
        <td>Software Engineer</td>
        <td>$10,000</td>
        <td></td>
      </tr>
    </tbody>
  </table>