<div class="d-flex align-items-start p-3">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="vertical nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true" (click) = loadProfile() >Profile</button>
      <button class="vertical nav-link" id="v-pills-title-tab" data-bs-toggle="pill" data-bs-target="#v-pills-title" type="button" role="tab" aria-controls="v-pills-title" (click) = loadTitle() >Title</button>
      <button class="vertical nav-link" id="v-pills-department-tab" data-bs-toggle="pill" data-bs-target="#v-pills-department" type="button" role="tab" aria-controls="v-pills-department" (click) = loadDepartment()>Department</button>
      <button class="vertical nav-link" id="v-pills-Compensation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Compensation" type="button" role="tab" aria-controls="v-pills-Compensation" (click) = loadCompensation()>Compensation</button>
  
  
    </div>
    <div class="tab-content" id="v-pills-tabContent">
  
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        
        <div class="p-2 d-flex justify-content-center" >
  
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-3 m-3"><b>Name: </b> {{profile?.first_name}} {{profile?.last_name}}</li>
            <li class="list-group-item p-3 m-3"><b>Gender: </b> {{profile?.gender ==='M' ? 'Male': 'Female'}}</li>
            <li class="list-group-item p-3 m-3"><b>Date Of Birth: </b> {{profile?.birth_date | date}}</li>
            <li class="list-group-item p-3 m-3"><b>Date hired: </b> {{profile?.hire_date | date}}</li>
          </ul>
        </div>
  
      </div>
      <div class="tab-pane fade" id="v-pills-title" role="tabpanel" aria-labelledby="v-pills-title-tab">
  
        <div class="mb-3 p-2 d-flex justify-content-center" >
          <app-timeline [key] = "'title'" [data] = "titles" ></app-timeline>
           
         </div>
  
  
  
      </div>
  
      <div class="tab-pane fade" id="v-pills-department" role="tabpanel" aria-labelledby="v-pills-department-tab">
  
        <div class="mb-3 p-2 d-flex justify-content-center" >
          <app-timeline  [key] = "'dept_name'" [data] = "departments" > </app-timeline>
           
         </div>
  
      </div>
  
      <div class="tab-pane fade" id="v-pills-Compensation" role="tabpanel" aria-labelledby="v-pills-Compensation-tab">
  
        <div class="mb-3 p-2 d-flex justify-content-center" >
          <app-timeline  [key] = "'salary'" [data] = "compensations" ></app-timeline>
           
         </div>
      </div>
  
    </div>
  </div>